{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
<section class="home">
    
    <h1>Welcome to the <br><strong>Wild Clicker</strong></h1>
    <div class="instructions">
        <h2>Instructions</h2><br>
        <ol>
            <li>
                Create your account and log in to access the game
            </li><br>
            <li>
                One account = one device
            </li><br>
            <li>
                Click the maximum times on your avatar to become the best clicker <br>*in the 'Let's click forever!' section*
            </li><br>
            <li>
                Points are save every 30 minutes. You can also click on the 'save my points' button to save them
            </li>
        </ol>
    </div>
    
    {% if app.user %}
        <a href="{{ path('account') }}">
            <div class="sign-in">My account</div>
        </a>
    {% else %}
        <a href="{{ path('app_register') }}">
            <div class="sign-in">Sign in</div>
        </a>
    {% endif %}

    {% if app.user %}
        <a href="{{ path('game') }}">
            <div class="play">Let's click!</div>
        </a>
    {% endif %}
    
</secton>
{% endblock %}