@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

.register {

    .titles.container {

        h1 {
            text-align: center;
        }

        .separator {
            margin: .8em auto 4em;
            width: 5em;
            border: 2px solid $blue;
            border-radius: 10px;
            opacity: .8;
        }
    }

    form {
        width: 80%;
        background: $light-blue;
        border-radius: 10px;
        margin: 0 auto;

        input {
            background: $white;
            border: 0.5px solid #000000;
            box-sizing: border-box;
            border-radius: 5px;
        }
    }
}
